#tab {
  width: 100%;
  text-align: center;
}

.img {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#precipitation:hover {
  background-color: rgb(70, 140, 200);
  border-radius: 20%;
}

#sunshine:hover {
  background-color: rgb(210, 125, 25);
  border-radius: 20%;
}

#wind:hover {
  background-color: rgb(130, 40, 40);
  border-radius: 20%;
}
