#tab {
  width: 100%;
  text-align: center;
}

.img {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#precipitation {
  border-radius: 20%;
}

#sunshine {
  border-radius: 20%;
}

#wind {
  border-radius: 20%;
}
