/* Style the tab */
#tab {
  width: 100%;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.button {
  display: inline;
  background-color: #252525;
  padding: 15%;
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: rgb(100, 100, 100);
}
